.pricing{
    background: linear-gradient(to bottom, #2d7ff9, #ffffff);
    height: 100vh;
    width: 100vw;
}

.pricingContent{
    padding: 3rem 2rem;
}

.pricingContent .top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricingContent .top .back .arrow img{
    color: #ffffff;
    box-sizing: border-box;
    border: none;
    padding: .6rem;
    background-color: #87878768;
    border-radius: 50%;
    width: 34px;
    height: 35px;
}

.pricingContent .tag{
    display: flex;
    flex-direction: row;
    gap: .9rem;
    justify-content: center;
    align-items: center;
    background-color: #878787aa;
    padding: .3rem 1.6rem;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
}

.pricingContent .tag .icon img{
    width: 15px;
    height: 17px;
}

.pricingContent .tag .text{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.pricingContent .texts{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
}

.pricingContent .texts .heading{
    font-weight: 600;
    font-size: 1rem;
    color: #222124;
    align-items: center;
    text-align: center;
}

.pricingContent .texts .subheading{
    font-weight: 400;
    font-size: .9rem;
    color: #555555;
    align-items: center;
    text-align: center;
    line-height: 1.2;
}

.buttonTexts{
    display: flex;
    flex-direction: row;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: .6rem .4rem;
    border-radius: 25px;
}

.bottom{
    margin-top: 10rem;
    position: relative;
}

.bottomCardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: #1a1a1a;
    padding: 7rem 1rem 2rem 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
}

.bottomCardContent .details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.bottomCardContent .details span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: .4rem;
    color: #ffffff;
    font-weight: 500;
}

.bottomCardContent .button{
   margin: 0;
   padding-top: 3rem;
}

.button span{
    box-sizing: border-box;
    border: none;
    background-color: #2d7ff9;
    color: #ffffff;
    padding: .45rem 4.5rem;
    border-radius: 30px;
}

.topCard .topCardContent{
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url("../../assets/pricingCardBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 12px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.topCardContent .top span{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
}

.topCardContent .last span{
    color: #ffffff;
    font-weight: 300;
    font-size: .75rem;
    line-height: 1;
}